<form
  #form
  (ngSubmit)="addExerciseHandler(nameInput.value, +durationInput.value)"
>
  <div class="form-group">
    <input
      name="name"
      type="text"
      #nameInput
      placeholder="exercise name"
      required
    />
  </div>
  <div class="form-group">
    <input
      name="duration"
      type="number"
      #durationInput
      placeholder="duration time"
      required
    />
  </div>

  <button
    class="button-primary"
    type="submit"

  >
    add exercise
  </button>

  <button class="button-clear" type="button" (click)="resetFormHandler()">
    reset
  </button>
</form>
